@charset "UTF-8";

//helps
@import "../sass/helps/_variables";
@import "../sass/helps/_functions";
@import "../sass/helps/_mixins";
@import "../sass/helps/_helpers";

//base
@import "../sass/base/_normalize";

html,
body {
    width: 100%;
    height: 100%;
}

.absolute_img{
    width: 100%;
    height: 440px;
    background: url("../images/bannerImg/StockSnap_003.jpg") no-repeat center;
    background-size: cover;
}
nav{
    width: 100%;
    height: 60px;
    position: absolute;
    top: 0;
    background-color: #5ea9de; 
    ul{
        /*display: inline-block;*/
        li{
            
            display: inline-block;
            line-height: 60px;
            width: 200px;
            color: #fff;
            text-align: center;
        }
    }
}
header {
    width: 100%;
    height: 440px;
    line-height: 44px;
    padding-left: 10px;
    /*background-color: #d0e5f5;*/
    border-bottom: 2px solid #5ea9de;
    box-sizing: border-box;
    &.bg_img{
        background: url("../images/bannerImg/StockSnap_003.jpg") no-repeat center;
        background-size: cover;
    }
}

.container {
    height: 100%;
    box-sizing: border-box;
}

.leftwrap {
    width: 200px;
    float: left;
    border-right: 3px solid #5ea9de;
    height: 100%;
    >ul {
        margin: 0;
        padding: 20px 0;
        list-style: none;
        background-color: rgba(68, 124, 167, 0.66);
    }
    li {
        display: block;
        >ul {
            padding-left: 20px;
        }
    }
    a {
        display: block;
        padding: 2px 10px;
        font-size: 14px;
        line-height: 24px;
        text-decoration: none;
        color: #fff;
    }
}

.rightwrap {
    padding-left: 210px;
    padding-right: 40px;
}